upstream patelin_server {
    server ${PATELIN_API_HOST}:${PATELIN_API_PORT};
}

server {
    listen 80;
    index index.html;

    location /patelin {
        alias /var/www/patelin/;
    }

    location /patelin/api/ {
        proxy_pass http://patelin_server/;
    }
}
