body {
    display: flex;
    flex-flow: column;
    max-width: 650px;
    padding: 20px;
    margin: auto;
    align-items: center;
}

#titleContainer {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

#titleContainer div {
    margin: 10px 0 0 0;
}

#nameContainer {
    margin-top: 20px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: red;
    box-sizing: border-box;
    width: 100%;
}

#townName {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
}

#buttonContainer {
    margin: 15px;
    text-align: center;
}

#generateButton {
    height: 35px;
    width: 100px;
}
